h1{
    color:rgb(156, 97, 19);
    text-align: center;
}
.lol{
    color: rgb(21, 66, 148);
}
p{
    text-align: justify;
    font-size: 18px;
    margin: 1%;
}
.forstunt{
    text-align: justify;
    margin-right: 60%;
}
.rong{
    background-color:moccasin ;
    margin-left: 15%;
    margin-right: 15%;
}
.img_deg{
    float:right
}